{# web/src/index.njk #}
---
layout: base.njk
title: Accueil - 26 Academy, formations certifiantes en ligne
---

{# On injecte le code HTML brut de la page d'accueil depuis Sanity #}
{{ homepage.body_html | safe }}