

{# web/src/recrutement.njk #}
---
layout: base.njk
title: Recrutement - 26 Academy
permalink: /recrutement/
---

{# On injecte le code HTML de la page "recrutement" depuis Sanity #}
{{ recrutement.body_html.code | safe }}