---js
{
  pagination: {
    data: "pages",
    size: 1,
    alias: "pageData"
  },
  permalink: data => `/${data.pageData.slug.current}/`,
  layout: "base.njk",
  eleventyComputed: {
    title: data => data.pageData.seo?.metaTitle || data.pageData.title,
    metaDescription: data => data.pageData.seo?.metaDescription,
    openGraphImage: data => data.pageData.seo?.openGraphImage,
    slug: data => data.pageData.slug.current
  }
}
---
{# --- Contenu Dynamique de la Page --- #}
<main>
    {{ pageData.body.code | safe }}
</main>